@charset "UTF-8";
/********************************************************************************
Default Stylesheet for ...
Created by PVAPPS
********************************************************************************/

/********************************************************************************
Foundation Overrides
********************************************************************************/
.contain-to-grid, .top-bar, .top-bar-section li:not(.has-form) a:not(.button) {
	background: green;
	}

/********************************************************************************
Globally Used Elements
********************************************************************************/
* {
	}
html {
	font-size: 98%;
	}
body { 
	background: #fff; 
	padding: 0; 
	margin: 0; 
	font: normal 1em sans-serif; /* 16px */
	color: #333;
	}	
p { 
	padding: 0; 
	margin: 0 0 10px 0; 
	line-height: 1.7em; 
	}	
h1, h2, h3, h4, h5, h6 { 
	color: #000; 
	font-weight: 500;
	font-size: 1.7em;
	margin: 0 0 8px 0; 
	padding: 0; 
	}	
abbr { 
	cursor: help;
	text-decoration: underline;
	}	
a, a:visited { 
	color: #000 
	}
a:active {
	color: #ccc;
	}
a:hover { 
	color: #333; 
	}	

.hide { 
	display: none; 
	}	
.show {
	display: block; 
	}	
.smallprint {
	font-size: 0.7em;
	}
.error {
	color: red;
	}
form {
	padding: 0;
	margin: 0;
	}
	
/********************************************************************************
Header and Navigation
********************************************************************************/
header {
	margin-bottom: 0.9375rem;;
	}
nav{ 
	}
nav li a, nav li a:visited {
	color: #000;
	-webkit-transition: color 1s linear;
	-moz-transition: color 1s linear;
	transition: color 1s linear;
	}
nav li a:hover, nav li a.current-page {
	color: #900;
	}
nav li a:active {
	color: #333;
	}	
#logo {
	}

/********************************************************************************
Page Content Container
********************************************************************************/

#main-col {
	}
#main-col ul {
	list-style: disc inside;
	margin: 0 0 15px 0;
	padding-left: 1em;
    text-indent: -1em;
    line-height: 1.7em;
	}
#main-col ol {
	list-style: decimal inside;
	margin: 0 0 15px 0;
	padding-left: 1em;
    text-indent: -1em;
    line-height: 1.7em;
	}
#sidebar {
	background: #e5e5e5;
	}

/********************************************************************************
Footer
********************************************************************************/
footer {
	}
footer ul {
	padding: 0;
	margin: 0;
	}
footer li {
	display: inline;
	}
footer li a, footer li a:visited {
	color: #000;
	}
footer li a:hover {
	color: #900;
	}
footer li a:active {
	color: #333;
	}

/********************************************************************************
Media Queries - Override Foundation where Required
********************************************************************************/
@media only screen and (max-width:1024px) {
	/*iPad Size*/
	}
@media only screen and (max-width:600px) {
	/*iPhone Size*/
	}

/********************************************************************************
Hacks & Fixes
********************************************************************************/

/* Remove Safari Focus Outline */
input:focus { 
	outline: none;
	}  	
textarea:focus { 
	outline: none; 
	}  

/* Remove Firefox Link Outlines */
a, a:visited, a:active, a:focus { 
	outline: 0; 
	}
	
/* Clearfix for Div Content */
.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}
	
/* Anti Spam */
form #sp_verify {
	display: none;
	}